    </div>
    
    <footer>
      <div class="ui container">
        <p>Copyyright &copy 2018 The NoteBook Store</p>  
      </div>
    </footer>
    
    <script src="client/js/libs/jquery.min.js"></script>
    <script src="client/js/semantic.min.js"></script>
    <script src="client/js/main.js"></script>
  </body>
  
</html>